#section-content_form {
    height: 100%;
    width: 100%;
    background-color: #FFBE98;
    border-radius: 10px;
    padding: 10px;
}

#main-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#main-form label {
    padding-top: 10px;
}

.input-form {
    padding: 6px 2px 6px 10px;
    border: none;
    border-radius: 10px;
}

#input-btn_submit {
    margin-top: 30px;
    align-self: center;
    font-family: 'Poppins';
    font-weight: 700;
    border-radius: 10px;
    border: none;
    width: 50%;
    padding: 10px 2px 10px 2px;
    cursor: pointer;
    background-color: #ffe9de;
    transition: 0.4s;
}
#input-btn_submit:hover {
    background-color: #eb966b;
}

#a-a_submit {
    align-self: center;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    width: 30%;
    border-radius: 10px;
    padding: 10px 2px 10px 2px;
    background-color: #ccb8b1;
    transition: 0.4s;
}
#a-a_submit:hover {
    background-color: #AB9189;
}