<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <p>
        Teste [ Os valores são:
        Nome: {{ name }}
        Sobrenome: {{ lname }}
        E-mail: {{ email }}
        Senha: {{ password }} ]
    </p>
    <input id="input-id_btn" type="text" name="search_id" placeholder="ID Number" required>
    <a id="a-btn" onclick="getValueSend()" href="#">TESTE</a>
    <p>{{ records }}</p>
    <p>{{ id_user }}</p>
</body>
<script>
// app.js

function getValueSend() {
    console.log('teste')
    let inputVal = document.getElementById("input-id_btn").value;
    document.getElementById("a-btn").href = "{{ url_for('funcao') }}?id=" + inputVal;
}
</script>
</html>